* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid black;
    width: 400px;
    height: 400px;
}

p {
    padding: 30px;
    text-align: center;
}

.row {
    display: grid;
}

.square {
    border: 1px solid #bdbdbd;
    aspect-ratio: 1 / 1;
}