body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.row {
    display: flex;
}

.row,
.square {
    flex: 1;
}

.container {
    flex-flow: column wrap;
    border: 20px solid black;
}

.row {
    border: 1px solid red;
}

.square {
    border: 1px solid #bdbdbd;
    height: 50px;
}