* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

header,
button {
    color: rgb(255, 255, 255);
    background: rgb(32, 48, 184);
}

header {
    display: flex;
    justify-content: center;
    padding: 25px;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 5px 10px;
}

.info-container {
    display: flex;
    justify-content: center;
    border: 10px solid rgb(32, 48, 184);
    width: 900px;
    margin-bottom: 40px;
}

p {
    padding: 30px;
    text-align: center;
}

.row {
    display: grid;
}

.square {
    border: 1px solid rgb(163, 156, 156);
    aspect-ratio: 1 / 1;
}